<h1>Customers</h1>
<a mat-button color="primary" routerLink="/admin">Dashboard</a> <br>
<div id="droplist">
  <mat-card *ngFor="let customer of customers">
      <h3>{{customer.firstName}} {{customer.secondName}}</h3>
      <p><mat-icon>email</mat-icon> {{customer.email}} <br>
         <mat-icon>phone</mat-icon> {{customer.phone}}</p>
      <div id="buttons">
        <a mat-button routerLink="/admin/edit-customer/{{customer.id}}">update</a>
        <a mat-button *ngIf="canDeleteCustomer(customer)" (click)="deleteCustomer(customer)">delete</a>
      </div>
  </mat-card>
</div>
<span class="done">
  <button mat-fab color="primary" routerLink="/admin/new-customer">
    <mat-icon>add</mat-icon>
  </button>
</span>