<div *ngIf="caravan">
  <mat-toolbar color="primary">
      <h1>{{caravan.name}}</h1>
      <span>
        <button *ngIf="prevCaravan" mat-icon-button matTooltip="see previous caravan" routerLink="/view-caravan/{{prevCaravan.id}}"><i class="material-icons">keyboard_arrow_left</i></button>
        <button *ngIf="nextCaravan" mat-icon-button matTooltip="see next caravan" routerLink="/view-caravan/{{nextCaravan.id}}"><i class="material-icons">keyboard_arrow_right</i></button>
      </span>
  </mat-toolbar>
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  <p>
    {{caravan.grade | titlecase}}. {{caravan.berths}} berth caravan. <br>
    <ng-container *ngIf="!caravan.smoking"><mat-icon matTooltip="smoking is not allowed" matTooltipPosition="above">smoke_free</mat-icon></ng-container>
    <ng-container *ngIf="caravan.smoking"><mat-icon matTooltip="smoking is allowed" matTooltipPosition="above">smoking_rooms</mat-icon></ng-container>
    <ng-container *ngIf="caravan.pets"><mat-icon matTooltip="pets are allowed" matTooltipPosition="above">pets</mat-icon></ng-container>
  </p>
  <h2>{{caravan.summary}}</h2>
  <markdown [data]="caravan.description"></markdown>
  <div class="mat-toolbar mat-primary">
    <p class="cta">{{ (settings | async)?.caravanCTA }} {{ (settings | async)?.phone }} / {{ (settings | async)?.mobile }} / <a class="mat-toolbar mat-primary" matTooltip="Click to email us" matTooltipPosition="above" target="_blank" href="mailto:{{ (settings | async)?.email }}">{{ (settings | async)?.email }}</a></p>
  </div>
  <app-calendar [caravan]="caravan"></app-calendar>
</div>