<a mat-button color="primary" routerLink="/admin">Dashboard</a> &gt; <a mat-button color="primary" routerLink="/admin/customers">Customers</a>
<h1>New Customer</h1>
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="First name" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Last name" formControlName="secondName">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Phone" formControlName="phone">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Address" formControlName="addressLine1">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Address" formControlName="addressLine2">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Address" formControlName="addressLine3">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Postcode" formControlName="postcode">
  </mat-form-field>
  <div>
      <span class="error" *ngIf="updateError"><br>{{updateError}}</span>
      <br>
      <mat-spinner role="spinner" *ngIf="showSpinner"></mat-spinner>
      <button id="submit" mat-raised-button *ngIf="!showSpinner" color="primary" type="submit" [disabled]="!customerForm.valid">Submit</button>
  </div>
</form>