<a mat-button color="primary" routerLink="/admin">Dashboard</a> &gt; <a mat-button color="primary" [routerLink]="bookingsLink">Bookings</a>
<h1>Edit Booking<ng-container *ngIf="selectedVan"> for {{selectedVan.name}}</ng-container></h1>
<form [formGroup]="bookingForm">
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Status" formControlName="status">
            <mat-option value="pending">Pending</mat-option>
            <mat-option value="deposit paid">Deposit Paid</mat-option>
            <mat-option value="fully paid">Fully Paid</mat-option>
            <mat-option value="cancelled">---Cancelled---</mat-option>
        </mat-select>
    </mat-form-field>  
    <ng-container formGroupName="dates">
        <mat-form-field>
            <input matInput [matDatepicker]="pickerFrom" placeholder="From date" formControlName="dateFrom">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="pickerTo" placeholder="To date" formControlName="dateTo">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo [startAt]="dateFrom.value"></mat-datepicker>
        </mat-form-field>
    </ng-container>
    <ng-container *ngIf="selectedVan">
        <app-calendar [caravan]="selectedVan"></app-calendar>
    </ng-container>
    <mat-form-field>
        <input matInput type="number" placeholder="Deposit" formControlName="deposit">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Price" formControlName="price">
    </mat-form-field>
    <mat-form-field hintLabel="Use markdown formatting.">
        <textarea matInput cdkTextareaAutosize #note #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="10" placeholder="Notes" formControlName="notes"></textarea>
    </mat-form-field>
    <br><br>
    <div class="previewNoteLabel">
        <label>Preview notes</label> <a id="mdHelpLink" target="_blank" href="https://en.wikipedia.org/wiki/Markdown#Example">Formatting help</a>
    </div>
    <div class="previewNote">
        <markdown [data]="note.value"></markdown>
    </div>
    <div>
        <a mat-raised-button color="primary" [routerLink]="bookingsLink">Done</a>
    </div>
</form>