<h1>Edit details</h1>
<a mat-button color="primary" routerLink="/admin">Dashboard</a> &gt; <a mat-button color="primary" routerLink="/admin/caravans">Caravans</a>
<form [formGroup]="caravanForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Grade" formControlName="grade">
            <mat-option value="bronze">Bronze</mat-option>
            <mat-option value="silver">Silver</mat-option>
            <mat-option value="silver plus">Silver Plus</mat-option>
            <mat-option value="gold">Gold</mat-option>
            <mat-option value="luxury gold">Luxury Gold</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5" placeholder="Summary" formControlName="summary" required></textarea>
    </mat-form-field>
    <mat-form-field hintLabel="Use markdown formatting.">
        <textarea matInput cdkTextareaAutosize #desc #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="10" placeholder="Description" formControlName="description" required></textarea>
    </mat-form-field>
    <br><br>
    <label class="previewDesc">Preview description</label> <a id="mdHelpLink" target="_blank" mat-button color="accent" href="https://en.wikipedia.org/wiki/Markdown#Example">Formatting help</a>
    <div class="previewDesc">
        <markdown [data]="desc.value"></markdown>
    </div>
    <mat-form-field>
        <input matInput type="number" placeholder="Berths" formControlName="berths" required>
    </mat-form-field>
    <label id="images" [class.error]="isLoadImageError">Images</label>
    <div class="image">
        <div *ngFor="let imageUrl of caravan?.imageUrls; index as i">
            <button mat-mini-fab (click)="deleteImage(i)" matTooltip="Delete image"><mat-icon>delete</mat-icon></button>
            <img src="{{imageUrl}}">
        </div>
    </div>
    <input type="file" (change)="loadImage($event)" [class.error]="isLoadImageError"><br><br>
    <mat-checkbox formControlName="pets">Pets</mat-checkbox>
    <mat-checkbox formControlName="smoking">Smoking</mat-checkbox>
</form>