<h1>Price list</h1>
<mat-card>
  <mat-card-content>
    <mat-list>
      <h3>Items for hire:</h3>
      <mat-list-item> Travel cot &pound;5 </mat-list-item>
      <mat-list-item> High chair &pound;5 </mat-list-item>
      <mat-list-item> Travel cot + High chair &pound;7.50 </mat-list-item>
      <mat-list-item> Bedding – per caravan &pound;20 </mat-list-item>
      <mat-list-item> Iron and ironing board free on request </mat-list-item>
    </mat-list>
    <p>2017 Price List <br> 
      Please note that prices for all individual caravans are shown under the description of each van. 
      Dates blocked in red indicate that the caravan is already booked.</p>    
  </mat-card-content>
</mat-card>


				
