div#droplist {
    width: 100%;
    display: flex;
    flex-flow: wrap;
}
mat-card {
    margin: 10px;
    padding: 20px 20px 40px 20px;
    width: 240px;
}
div#buttons {
    position: absolute;
    bottom: 10px;
}
