<div>
  <mat-toolbar color="accent">
    <button mat-button routerLink="/"><h1>Rixson Leisure</h1></button>
    
    <span *ngIf="size!=screenSize.SMALL && size!=screenSize.XSMALL">
      <button mat-icon-button matTooltip="Home" routerLink="/"><i class="material-icons">home</i></button>
      <button mat-icon-button matTooltip="Price list" routerLink="/prices"><i class="material-icons">monetization_on</i></button>
      <button mat-icon-button matTooltip="General Information" routerLink="/info"><i class="material-icons">info</i></button>
      <button mat-icon-button matTooltip="About us" routerLink="/about"><i class="material-icons">help</i></button>
      <button mat-icon-button matTooltip="Find us" routerLink="/contact"><i class="material-icons">place</i></button>
      <ng-container *ngIf="loggedIn || adminCookie">
        <button *ngIf="!loggedIn" mat-icon-button matTooltip="Google sign-in" (click)="login()"><i class="material-icons">settings</i></button>
        <button *ngIf="!loggedIn" mat-icon-button matTooltip="Google sign-in" (click)="login()"><i class="material-icons">power_settings_new</i></button>
        <button *ngIf="loggedIn" mat-icon-button matTooltip="Admin" routerLink="/admin"><i class="material-icons">settings</i></button>
        <button *ngIf="loggedIn" mat-icon-button matTooltip="Logoff" (click)="logoff()"><i class="material-icons">power_settings_new</i></button>  
      </ng-container>
    </span>
    <button mat-button [mat-menu-trigger-for]="menu" *ngIf="size==screenSize.SMALL || size==screenSize.XSMALL">
      <mat-icon>menu</mat-icon>
    </button> 
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu" panel-class="primary">
    <button mat-icon-button matTooltip="Home" routerLink="/"><i class="material-icons">home</i></button>
    <button mat-icon-button matTooltip="Price list" routerLink="/prices"><i class="material-icons">monetization_on</i></button>
    <button mat-icon-button matTooltip="General Information" routerLink="/info"><i class="material-icons">info</i></button>
    <button mat-icon-button matTooltip="About us" routerLink="/about"><i class="material-icons">help</i></button>
    <button mat-icon-button matTooltip="Find us" routerLink="/contact"><i class="material-icons">place</i></button>
    <ng-container *ngIf="loggedIn || adminCookie">
      <button *ngIf="!loggedIn" mat-icon-button matTooltip="Google sign-in" (click)="login()"><i class="material-icons">settings</i></button>
      <button *ngIf="!loggedIn" mat-icon-button matTooltip="Google sign-in" (click)="login()"><i class="material-icons">power_settings_new</i></button>
      <button *ngIf="loggedIn" mat-icon-button matTooltip="Admin" routerLink="/admin"><i class="material-icons">settings</i></button>
      <button *ngIf="loggedIn" mat-icon-button matTooltip="Logoff" (click)="logoff()"><i class="material-icons">power_settings_new</i></button>  
    </ng-container>
  </mat-menu>
  <div id="content" class="mat-app-background" [ngClass]="largeClass">
  <router-outlet></router-outlet>
  </div>
    <footer class="mat-toolbar mat-accent">
      <div>
        Rixson Leisure Holidays, 
        Thistledown, 
        Spilsby road, 
        Skegness, 
        PE24 4LN <br> 
        01754 881337 / 07825 183 774 / <a class="mat-toolbar mat-accent" matTooltip="Click to email us" matTooltipPosition="above" target="_blank" href="mailto:irene.rixson@gmail.com">irene.rixson@gmail.com</a>
      </div>
      <div>
        Coastfields Holiday Parks,
        Roman Bank, 
        Ingoldmells, 
        Skegness, 
        PE25 1LT 
      </div>
      
    </footer>    
</div>