<div>
  <mat-toolbar color="accent">
    <button mat-button routerLink="/"><h1>{{ (settings | async)?.title }}</h1></button>
    
    <span *ngIf="size!=screenSize.SMALL && size!=screenSize.XSMALL">
      <button mat-icon-button matTooltip="Home" routerLink="/"><mat-icon>home</mat-icon></button>
      <button mat-button matTooltip="Price list" routerLink="/prices">Price list</button>
      <button mat-button matTooltip="General Information" routerLink="/info">Info</button>
      <button mat-button matTooltip="About us" routerLink="/about">About us</button>
      <button mat-button matTooltip="Find us" routerLink="/contact">Find us</button>
      <ng-container *ngIf="loggedIn || adminCookie">
        <button *ngIf="!loggedIn" mat-icon-button matTooltip="Google sign-in" (click)="login()"><mat-icon>settings</mat-icon></button>
        <button *ngIf="!loggedIn" mat-icon-button matTooltip="Google sign-in" (click)="login()"><mat-icon>power_settings_new</mat-icon></button>
        <button *ngIf="loggedIn" mat-icon-button matTooltip="Admin" routerLink="/admin"><mat-icon>settings</mat-icon></button>
        <button *ngIf="loggedIn" mat-icon-button matTooltip="Logoff" (click)="logoff()"><mat-icon>power_settings_new</mat-icon></button>  
      </ng-container>
    </span>
    <button mat-button [mat-menu-trigger-for]="menu" *ngIf="size==screenSize.SMALL || size==screenSize.XSMALL">
      <mat-icon>menu</mat-icon>
    </button> 
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu" panel-class="primary">
    <button mat-icon-button matTooltip="Home" routerLink="/"><mat-icon>home</mat-icon></button>
    <button mat-icon-button matTooltip="Price list" routerLink="/prices"><mat-icon>monetization_on</mat-icon></button>
    <button mat-icon-button matTooltip="General Information" routerLink="/info"><mat-icon>info</mat-icon></button>
    <button mat-icon-button matTooltip="About us" routerLink="/about"><mat-icon>help</mat-icon></button>
    <button mat-icon-button matTooltip="Find us" routerLink="/contact"><mat-icon>place</mat-icon></button>
    <ng-container *ngIf="loggedIn || adminCookie">
      <button *ngIf="!loggedIn" mat-icon-button matTooltip="Google sign-in" (click)="login()"><mat-icon>settings</mat-icon></button>
      <button *ngIf="!loggedIn" mat-icon-button matTooltip="Google sign-in" (click)="login()"><mat-icon>power_settings_new</mat-icon></button>
      <button *ngIf="loggedIn" mat-icon-button matTooltip="Admin" routerLink="/admin"><mat-icon>settings</mat-icon></button>
      <button *ngIf="loggedIn" mat-icon-button matTooltip="Logoff" (click)="logoff()"><mat-icon>power_settings_new</mat-icon></button>  
    </ng-container>
  </mat-menu>
  <div id="content" class="mat-app-background" [ngClass]="largeClass">
  <router-outlet></router-outlet>
  </div>
    <footer class="mat-toolbar mat-accent">
      <div>
        {{ (settings | async)?.bizAddress1 }}, 
        {{ (settings | async)?.bizAddress2 }}, 
        {{ (settings | async)?.bizAddress3 }}, 
        {{ (settings | async)?.bizAddress4 }}, 
        {{ (settings | async)?.bizPostcode }} <br> 
        {{ (settings | async)?.phone }} / {{ (settings | async)?.mobile }} / <a class="mat-toolbar mat-accent" matTooltip="Click to email us" matTooltipPosition="above" target="_blank" href="mailto:{{ (settings | async)?.email }}">{{ (settings | async)?.email }}</a>
      </div>
      <div>
        {{ (settings | async)?.parkAddress1 }}, 
        {{ (settings | async)?.parkAddress2 }}, 
        {{ (settings | async)?.parkAddress3 }}, 
        {{ (settings | async)?.parkAddress4 }}, 
        {{ (settings | async)?.parkPostcode }}
      </div>
      
    </footer>    
</div>