<a mat-button color="primary" routerLink="/admin">Dashboard</a> &gt; <a mat-button color="primary" routerLink="/admin/caravans">Caravans</a>
<h1>New Caravan</h1>
<form [formGroup]="caravanForm" (ngSubmit)="onSubmit()">
    <div class="hideCaravan">
        <mat-slide-toggle color="primary" formControlName="hide">Hide</mat-slide-toggle>
    </div>
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Grade" formControlName="grade">
            <mat-option value="luxury gold">Luxury Gold</mat-option>
            <mat-option value="gold">Gold</mat-option>
            <mat-option value="silver plus">Silver Plus</mat-option>
            <mat-option value="silver">Silver</mat-option>
            <mat-option value="bronze">Bronze</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Summary" formControlName="summary">
    </mat-form-field>
    <mat-form-field hintLabel="Use markdown formatting.">
        <textarea matInput cdkTextareaAutosize #desc #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="10" placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
    <br><br>
    <label class="previewDesc">Preview description</label> <a id="mdHelpLink" target="_blank" href="https://en.wikipedia.org/wiki/Markdown#Example">Formatting help</a>
    <div class="previewDesc">
        <markdown [data]="desc.value"></markdown>
    </div>
    <mat-form-field>
        <input matInput type="number" placeholder="Berths" formControlName="berths">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Sort order" formControlName="order">
    </mat-form-field>
    <label id="images" [class.error]="isLoadImageError">Images</label>
    <div class="image">
        <div class="imageLoad" *ngFor="let image of images; let i = index">
            <button mat-mini-fab class="moveImage" *ngIf="i !== 0" (click)="moveImageUp(i)" matTooltip="Move image up"><mat-icon>arrow_upward</mat-icon></button>
            <button mat-mini-fab class="deleteImage" (click)="deleteImage(i)" matTooltip="Delete image"><mat-icon>delete</mat-icon></button>
            <img [src]="image.imageURL">
        </div>
    </div>
    <input type="file" (change)="loadImage($event)" [class.error]="isLoadImageError"><br>
    <br>
    <mat-checkbox formControlName="pets">Pets</mat-checkbox>
    <mat-checkbox formControlName="smoking">Smoking</mat-checkbox>
    <div>
        <span class="error" *ngIf="updateError"><br>{{updateError}}</span>
        <br>
        <mat-spinner role="spinner" *ngIf="showSpinner"></mat-spinner>
        <button id="submit" mat-raised-button *ngIf="!showSpinner" color="primary" type="submit" [disabled]="!caravanForm.valid">Submit</button>
    </div>
</form>