<h1>Bookings<ng-container *ngIf="caravan"> for {{caravan.name}}</ng-container></h1>
<a mat-button color="primary" routerLink="/admin">Dashboard</a> <ng-container *ngIf="caravan"> &gt; <a mat-button color="primary" routerLink="/admin/bookings/all">All bookings</a></ng-container> <br>
<div class="filter">
  <!-- Add bookings filter form here -->
</div>
<div id="droplist">
  <mat-card *ngFor="let booking of bookings">
      <h3>{{booking.customer.firstName}} {{booking.customer.secondName}}</h3>
      <p>{{booking.caravan.name}}</p>
      <mat-chip-list *ngIf="booking.cancelled">
        <mat-chip selected color="warn">
          Cancelled
        </mat-chip>
      </mat-chip-list>
      <p>From: {{booking.dateFrom | date}}<br>To: {{booking.dateTo | date}}</p>
      <p>Price: {{booking.price | currency: 'GBP'}} <ng-container *ngIf="booking.paid">Paid</ng-container></p>
      <p *ngIf="isShowNotes(booking)">
        <markdown [data]="booking.notes"></markdown>
      </p>
      <div id="buttons">
        <a mat-button routerLink="/admin/edit-booking/{{booking.id}}" *ngIf="!booking.cancelled">update</a>
        <button mat-button type="button" *ngIf="booking.notes" (click)="showNotes(booking)">{{moreless(booking)}}</button>
        <button mat-button type="button" (click)="deleteBooking(booking)" *ngIf="booking.cancelled">delete</button>
      </div>
  </mat-card>
</div>
<span class="done">
  <button mat-fab color="primary" [routerLink]="newBooking">
    <mat-icon>add</mat-icon>
  </button>
</span>