<a mat-button color="primary" routerLink="/admin">Dashboard</a> <ng-container *ngIf="caravan"> &gt; <a mat-button color="primary" routerLink="/admin/bookings/all">All bookings</a></ng-container>
<h1>Bookings<ng-container *ngIf="caravan"> for {{caravan.name}}</ng-container></h1>
<div class="filter">
  <!--mat-form-field>
    <mat-label>Filter carvans</mat-label>
    <mat-select> bind onChange event to component
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field-->
</div>
<div id="droplist">
  <mat-card *ngFor="let booking of bookings">
      <ng-container *ngIf="booking.name && booking.caravan">
        <h3>{{booking.name}}</h3>
        <p>
          <a routerLink="/admin/bookings/{{booking.caravan.id}}" matTooltip="See bookings for this caravan.">{{booking.caravan.name}}</a>
          <a mat-button [routerLink]="['/admin/booking-caravan', filterCaravanId, booking.id]" *ngIf="booking.status != 'cancelled'">change</a>
        </p>
        <mat-chip-list *ngIf="booking.status === 'cancelled'">
          <mat-chip selected color="warn">
            Cancelled
          </mat-chip>
        </mat-chip-list>
        <p>From: {{booking.dateFrom | date}}<br>To: {{booking.dateTo | date}}</p>
        <p *ngIf="booking.status !== 'cancelled'">Status: {{booking.status | titlecase}}</p>
        <p *ngIf="isShowNotes(booking)">
          <markdown [data]="booking.notes"></markdown>
        </p>
        <div id="buttons">
          <a mat-button [routerLink]="['/admin/edit-booking', filterCaravanId, booking.id]" *ngIf="booking.status != 'cancelled'">update</a>
          <button mat-button type="button" *ngIf="booking.notes" (click)="showNotes(booking)">{{moreless(booking)}}</button>
          <button mat-button type="button" (click)="deleteBooking(booking)" *ngIf="booking.status == 'cancelled'">delete</button>
        </div>
      </ng-container>
    </mat-card>
</div>
<span class="done">
  <button mat-fab color="primary" [routerLink]="newBooking">
    <mat-icon>add</mat-icon>
  </button>
</span>